{% extends "base.html" %}
{%- block content -%}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="row">
                    {% if category == "error" %}
                        <div id="alert" class="alert alert-danger my-2" role="alert">
                    {% elif category == "warning" %}
                        <div id="alert" class="alert alert-warning my-2" role="alert">
                    {% elif category == "success" %}
                        <div id="alert" class="alert alert-success my-2" role="alert">
                    {% endif %}
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="row">
                <div class="col-12 d-flex align-items-stretch">
                    <div class="card shadow-sm w-100 pt-3 my-3">
                        <div class="d-flex align-items-center px-3 mb-3">
                            <div class="d-block">
                                <img src="https://eu.ui-avatars.com/api/?size=155&bold=true&length=1&name={{ user.firstname[0] }}" class="img-fluid rounded-circle" width="70">
                            </div>
                            <div class="ms-3">
                                <h5 class="my-0">{{ user.firstname }}!</h5> <span>This is your diary.</span>
                            </div>
                            <div class="ms-auto p-2 d-md-none d-lg-block rounded stats">
                                <div class="d-flex flex-column">
                                    <span class="text-center">{{ entries|length }}</span>
                                    <span class="entries">Entries</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer p-0">
                            <div class="d-flex justify-content-end justify-content-md-end justify-content-md-start align-items-center ms-3 me-2 py-2">
                                <small class="me-auto text-muted d-none d-md-block d-lg-none">Entries: {{ entries|length }}</small>
                                <button class="btn btn-sm btn-primary">Edit Profile</button>
                                <button class="btn btn-sm btn-danger ms-2" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Account Settings">
                                    <i class="fas fa-cog"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex align-items-stretch">
                    <div class="card shadow-sm w-100 p-3">
                        <span>
                            {%- if user.bio|length > 1 -%}
                            {{- user.bio -}}
                            {%- else -%}
                                No bio available, consider editing your profile.
                            {%- endif -%}
                        </span>
                        <h6 class="fw-bolder border-bottom mt-1">Allergies:</h6>
                        <span>
                            {%- if user.allergies|length > 1 -%}
                                {{- user.allergies -}}
                            {%- else -%}
                                No known allergens.
                            {%- endif -%}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-7 mt-3">
            {%- if entries|length > 0 -%}
                <div id="scroller" class="mb-3">
                    <template id="post_template">
                        <div class="card shadow-sm mb-3 animate__animated animate__fadeIn">
                            <div class="card-body px-0">
                                <h5 class="card-title mx-3" id="title"></h5>
                                <p class="card-text mx-3" id="body"></p>
                                <div class="card-footer p-0">
                                    <div class="d-flex align-items-center ms-3 me-2 py-2">
                                        <small class="me-auto text-muted">Date: <span id="date"></span></small>
                                        <ul class="list-inline p-0 m-0">
                                            <li class="list-inline-item m-0">
                                                <button class="btn btn-primary btn-sm" id="edit-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                                            </li>
                                            <li class="list-inline-item mx-1">
                                                <a class="btn btn-success btn-sm" id="pin-btn" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pin"><i class="far fa-star"></i></a>
                                            </li>
                                            <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm" id="delete-btn" onclick="confirm(this)" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Forever"><i class="fas fa-trash"></i></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
        
                <!-- element to trigger the IntersectionObserver -->
                <div class="d-flex justify-content-center my-5" id="sentinel">
                    <div class="spinner-border" role="status"></div>
                </div>
        
            {%- else -%}
                <div class="d-flex flex-column justify-content-center align-items-center h-100 py-5 py-xs-5 py-md-0">
                    <h4 class="text-center mb-0">No Entries Found.</h4>
                    <small class="mb-2">Let's add your first one!</small>
                    <button onclick="newEntry()" class="btn btn-success mx-2">
                        <i class="fas fa-plus-circle"></i> Add Entry
                    </button>
                </div>
            {%- endif -%}
        </div>
    </div>
{% include "modals.html" %}
{%- endblock -%}