{% extends "base.html" %}
{% block content %}
    <h2 id="details" class="mt-5">{{user.firstname}}'s Diary <i id="chevron" class="fas fa-chevron-right ms-1 rotate"></i></h2>
    <div id="details-box" class="row">
        <div class="col-md">
            <div class="card mb-3">
                <div class="card-body">
                    <h5>Bio:</h5>
                    <p>
                        {% if user.bio|length > 1 %}
                            {{ user.bio }}
                        {% else %}
                            No bio available, consider editing your profile.
                        {% endif %}
                    </p>
                    <h5>Known Allergies:</h5>
                    <p>
                        {% if user.bio|length > 1 %}
                            {{ user.allergies }}
                        {% else %}
                            No known allergens.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% if entries|length > 0 %}
    <h4>All Entries</h4>
        {% for entry in pinned_entries %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-thumbtack"></i> {{ entry.title }}</h5>
                        {% if entry.body != None %}
                            <p class="card-text">{{ entry.body }}</p>
                        {% endif %}
                        <div class="card-footer bg-transparent px-0">
                            <div class="row">
                                <div class="col-md d-flex justify-content-between">
                                    <small class="text-muted">Entry Date: {{ entry.date }}</small>
                                    <ul class="list-inline p-0">
                                        <li class="list-inline-item">
                                            <small>Edit</small>
                                        </li>
                                        <li class="list-inline-item">
                                            <small onclick="confirm(this)">Delete</small>
                                            <small class="d-none"><a href="{{ url_for('delete', entry_id=entry._id) }}">Confirm</a></small>
                                        </li>
                                        <li class="list-inline-item">
                                            <small><a href="{{ url_for('pin', entry_id=entry._id) }}">Unpin</a></small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        
        <div id="scroller" class="mb-3">

            <template id="post_template">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title" id="title"></h5>
                        <p class="card-text" id="body"></p>
                        <div class="card-footer bg-transparent px-0">
                            <div class="row">
                                <div class="col-md d-flex justify-content-between">
                                    <small class="text-muted">Entry Date: <span id="date"></span></small>
                                    <ul class="list-inline p-0">
                                        <li class="list-inline-item">
                                            <small>Edit</small>
                                        </li>
                                        <li class="list-inline-item">
                                            <small onclick="confirm(this)">Delete</small>
                                            <small class="d-none"><a id="confirm-btn" href="">Confirm</a></small>
                                        </li>
                                        <li class="list-inline-item">
                                            <small><a id="pin-btn" href="">Pin</a></small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        
        </div>

        <!-- element to trigger the IntersectionObserver -->
        <div class="d-flex justify-content-center mb-3" id="sentinel">
            <div class="spinner-border" role="status"></div>
        </div>

    {% else %}
        <h4 class="text-center my-5">No Entries Found.</h4>
    {% endif %}
{% endblock%}