{% extends "base.html" %}
{%- block content -%}
    {%- if entries|length > 0 -%}
        <h4 class="mt-5">Search Results</h4>
        {% for entry in entries %}
                <div class="card shadow-sm mb-3 animate__animated animate__fadeIn">
                    <div class="card-body px-0">
                        <h5 class="card-title mx-3" id="title">{% if entry.pinned == true %}<i class="fas fa-star"></i> {% endif %}{{ entry.title }}</h5>
                        {%- if entry.body != "" -%}<p class="card-text mx-3" id="body">{{ entry.body }}</p>{% endif %}
                        <div class="card-footer p-0">
                            <div class="d-flex align-items-center ms-3 me-2 py-2">
                                <small class="me-auto text-muted">Date: <span id="date">{{ entry.date }}</span></small>
                                <ul class="list-inline p-0 m-0">
                                    <li class="list-inline-item m-0">
                                        <button class="btn btn-primary btn-sm" onclick="edit('{{ entry._id }}')"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
                                    </li>
                                    <li class="list-inline-item mx-1">
                                        {%- if entry.pinned == true -%}
                                            <a class="btn btn-success btn-sm" id="pin-btn" href="/pin/{{ entry._id }}"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Unpin"><i class="fas fa-star"></i></a>
                                        {%- else -%}
                                            <a class="btn btn-success btn-sm" id="pin-btn" href="/pin/{{ entry._id }}"
                                                data-bs-toggle="tooltip" data-bs-placement="top" title="Pin"><i class="far fa-star"></i></a>
                                        {%- endif -%}
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-danger btn-sm" id="delete-btn" onclick="confirm('{{ entry._id }}')"
                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Forever"><i class="fas fa-trash"></i></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {%- else -%}
        <h4 class="text-center my-5">No Entries Found.</h4>
    {%- endif -%}
{% include "modals.html" %}
{%- endblock -%}