{% extends "base.html" %}
{% block content %}
    {% if entries|length > 0 %}
        <h4 class="mt-5">Search Results</h4>
            {% for entry in entries %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">{% if entry.pinned == true %}<i class="fas fa-thumbtack"></i> {% endif %}{{ entry.title }}</h5>
                            {% if entry.body != None %}
                                <p class="card-text">{{ entry.body }}</p>
                            {% endif %}
                            <div class="card-footer bg-transparent px-0">
                                <div class="row">
                                    <div class="col-md d-flex justify-content-between">
                                        <small class="text-muted">Entry Date: {{ entry.date }}</small>
                                        <ul class="list-inline p-0">
                                            <li class="list-inline-item">
                                                <small id="edit-btn" onclick="edit('{{ entry._id }}')">Edit</small>
                                            </li>
                                            <li class="list-inline-item">
                                                <small onclick="confirm('{{ entry._id }}')">Delete</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        {% else %}
            <h4 class="text-center my-5">No Entries Found.</h4>
        {% endif %}
    {% include "modals.html" %}
{% endblock %}